header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    background-color: springgreen;
}

main {
    background-color: papayawhip;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 40%;
}
