<!doctype html>
<html>
    <head><title>Winston's Finstagram</title> 
    <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="../../public/stylesheets/lib.css">
    <link rel="stylesheet" href="../../public/stylesheets/app.css"
    </head>
    
    <body>
        <header>
            <h1>Finstagramming</h1>
        </header>
        
        <main role="main">
            
            
            <article class="post">
                <div class="user-info"> 
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
                </a>

            
                <div class="actions">
                    746282 likes 
                    <span class="comment-count">234987 comments</span>
                    </div>
                <ul class="comments">
                    <li>
                        <p>
                            sharky_j: out for da weekend gonna have some shark fin soup y'all
                        </p>
                    </li>
                </ul>
            </article>
            
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/kirk_whalum.jpg" alt="kirk_whalum">
                    <h2>kirk_whalum</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/whale.jpg" alt="post from kirk_whalum">
                </a>
                <div class="actions">
                    238743298 likes
                    <span class="comment-count">237324 comments</span>
                </div>                
                
                <ul class="comments">
                    <li>
                        <p>
                            kirk_whalum: #weekendvibes
                        </p>
                    </li>
                </ul>
            </article>
            
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">
                    <h2>marlin_peppa</h2>
                    <h3>3 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/marlin.jpg" alt="post from marlin_peppa">
                </a>
                <div class="actions">
                    238743298 likes
                    <span class="comment-count">237324 comments</span>
                </div>                
                
                <ul class="comments">
                    <li>
                        <p>
                            marlin_peppa: NOM NOM NOM
                        </p>
                    </li>
                </ul>
            </article>
            
        </main>
        
        </body>
    
    
    
    
</html>